.footer-page {
  padding: 5rem 0;
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    > a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 4rem;
      border-radius: 1.8rem;
      font-weight: bold;
      transition: all .3s linear;
      &:hover {
        background-color: darken(#0e9632, 10%);
      }
    }
  }
}

@media(max-width: 600px) {
  .footer-page {
    padding: 3rem 0;
    > div {
      flex-direction: column;
      text-align: center;
      font-size: 1.2rem;
      > a {
        margin-bottom: 1.5rem;
      }
    }
  }
}
