<header class="header-page bg-gradient">
  <div class="container color-white">
    <div>
      <span>Hi, I`m Bruno Caike 👋🏻</span>
      <h1>Sou Desenvolvedor Web</h1>
      <p>
        Trabalhei em diversos projetos front-end e back-end, desde pequenos websites até grandes aplicações web. Essa experiência prática me permitiu desenvolver
        habilidades que me ajudam a criar soluções eficientes e eficazes.
        <br><br>
        Comecei no desenvolvimento em 2020. me reconheço como entusiasta nas novas tecnologias do mercado, com aprendizado adquirido dia após dia.
        <br><br>
        Possuo foco em desenvolvimento com Javascript, PHP, Laravel dentre outras tecnologias que uso para criar aplicações web de alto nível e valor.
        <br><br>
        Me considero ágil e consistente em aprender uma nova linguagem e me adaptar à qualquer mudança, pronto para superar qualquer desafio!
        Se eu pudesse me definir em 3 palavras, certamente seriam: otimista, perseverante e esforçado!
      </p>
    </div>
    <img src="../../../assets/perfil.jpg" alt="Bruno Caike" title="Bruno Caike" class="images">
  </div>
</header>
