// begin article-experience
.article-experience {
  padding-top: 7rem;
  &.finally {display: none;}
  > header {
    margin-bottom: 2rem;
    > h3 {
      font-size: var(--font-size-x-medium);
      font-weight: 600;
      font-family: "Poppins", sans-serif;
    }
  }
  > form {
    &, * {line-height: 1.4;}
    display: grid;
    grid-gap: 2rem;
    .form-group {
      display: grid ;
      > label {
        display: block;
        font-weight: 600;
        font-size: var(--font-size-small);
        margin-bottom: .5rem;
      }
      > input:-webkit-autofill, > input:-webkit-autofill:hover, > input:-webkit-autofill:focus, > input:-webkit-autofill:active,
      > textarea:-webkit-autofill, > textarea:-webkit-autofill:hover, > textarea:-webkit-autofill:focus, > textarea:-webkit-autofill:active {
        -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
        -webkit-transition-delay: 9999s;
      }
      > input, > textarea {
        background-color: transparent;
        border: .1rem solid #FFF;
        border-radius: .5rem;
        &, &::placeholder {
          color: #FFF;
          font: 400 var(--font-size-x-small) "Inter";
        }
      }
      > input {
        height: 5rem;
      }
      > textarea {
        min-height: 20rem;
      }
      > div {
        font-size: 1.2rem;
        color: red;
        margin: .5rem 1rem 0 1rem;
      }
    }
    > button[type="submit"] {
      width: 20rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .5rem;
      transition: all .3s linear;
      font: 600 var(--font-size-x-small) "Inter";
      &:hover {
        background-color: darken(#0e9632, 10%);
      }
    }
  }
}
// end article-experience
